@charset "UTF-8";

body {
    background-color: rgb(106, 196, 244);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

h1 {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.350);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.350);
}

div {
    padding: 3px;
}

img {
    padding-top: 7px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}